.navbar{
    background-color: #1B2430;
}

.navbar-brand{
    color: white;

}

nav div ul{
    display: flex;
    margin-left: auto;
}

nav div ul li{
    list-style: none;
    margin-right: 30px;
    margin-left: 30px;
}

nav div ul li a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

nav div ul li a:hover{
    color: #D2001A;
}

.card{
    max-width: 30rem;
    height: 30rem;
    transition: 0.5s;
    cursor: pointer;
    overflow: hidden;
}

#card:hover{
opacity: 70%;
}

.judul ul li{
    list-style: none;
}

.judul ul li a{
    color: black;
    text-decoration: none;
}

.jumbotron{
    background-image: url(../images/header2.jpg);
    background-size: cover;
    height: 70vh;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    background-position: right 0px top -110px;
    background-repeat: no-repeat;
}

.jumbotron::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(255, 255, 255, 0.8));
    position: absolute;
    bottom: 0;
}


.jumbotron .container{
    color: black;
}

.jumbotron .display-4{
    font-weight: 800;
}

.jumbotron .lead{
    font-weight: 500;
}


.card-title{
    text-decoration: none;
}

.image{
    display: flex;
    justify-content: center;
}

.image img{
    margin-bottom: 100px;
    max-width: 100rem;
    max-height: 50rem;
}

.nav-links{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.nav-links .nav-previous{
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 40%;
    transition: 0.3s;
    border-radius: 10px;
    margin-bottom: 90px;
}

.nav-links .nav-previous:hover{
    opacity: 100%;
}

.nav-links .nav-previous a{
    text-decoration: none;
    color: black;
}

.nav-links .nav-next{
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 40%;
    transition: 0.3s;
    border-radius: 10px;
    margin-bottom: 90px;
}

.nav-links .nav-next:hover{
    opacity: 100%;
}

.nav-links .nav-next a{
    text-decoration: none;
    color: black;
}

#title h2{
    margin-top: 100px;
    margin-bottom: 35px;
    color: blue;
}

.commentlist{
    border-style: solid;
    list-style: none;
    border-width: 2px;
    border-color: #E9E8E8;
    border-radius: 15px;
}

.commentlist .comment .comment-body .comment-author img{
    border-radius: 50%;
    position: relative;
    right: 15px;
}

.says{
    display: none;
}

.comment-meta{
    display: none;
}

.commentlist .comment .comment-body p{
    margin-left: 37px;
    margin-bottom: -1px;
    margin-top: -12px;
}

.commentlist .comment .comment-body .reply{
    margin-left: 37px;
}

.comment-author .fn .url{
    text-decoration: none;
    color: black;
    font-style: normal;
    font-size: 20px;
}

.comment{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 60px;
    margin-left: 60px;
}

#respond{
    border-style: solid;
    list-style: none;
    border-width: 2px;
    border-color: #E9E8E8;
    border-radius: 15px;
    padding: 50px;
}

.comment-form-comment textarea{
    border-style: solid;
    list-style: none;
    border-width: 2px;
    border-color: #E9E8E8;
    border-radius: 15px;
    width: 100%;
    padding: 20px;
}

.form-submit .submit{
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 40%;
    transition: 0.3s;
}

.form-submit .submit:hover{
    opacity: 100%;
}

.footer{
    padding: 40px;
    margin-top: 50px;
    background-color: #1B2430;
    color: white;
}

.menu-navbar-container{
    position: relative;
    right: 30px;
}

footer div ul li{
    list-style: none;
}

footer div ul li a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

footer div ul li a:hover{
    text-decoration: none;
    color: #D2001A;
}

footer a{
    margin-right: 10px;
    margin-left: 10px;
}

footer a i{
    color: white;
}

.bi-instagram:hover{
    color: red;
}

.bi-facebook:hover{
    color: blue;
}

.bi-twitter:hover{
    color: cyan;
}

.bi{
transition: 0.3s;
}

#contact{
    margin-top: 15rem;
    margin-bottom: 15rem;
}

#contact input{
    border-style: solid;
    list-style: none;
    border-width: 2px;
    border-color: #E9E8E8;
    border-radius: 15px;
    width: 100%;
    padding: 5px;
}

#contact textarea{
    border-style: solid;
    list-style: none;
    border-width: 2px;
    border-color: #E9E8E8;
    border-radius: 15px;
    width: 100%;
    padding: 20px;
}

#masukan{
    color: white;
}

.contact{
    color: black;
}

.kontak{
    margin-left: 210px;
}

#card-1{
    max-height: 20rem;
}